a{
    text-decoration: none;
    color: rgb(233, 93, 93);
}
.main-header .container-fluid{
    max-width: 1480px;
}
ul.primary-menu{}
ul.primary-menu li{}
ul.primary-menu li a{
    text-decoration: none;
    display: inline-block;
    color: rgb(224, 102, 102);
    padding: 10px 20px;
    font-weight: 600;
}
ul.primary-menu li a:hover{}
.header-search, .header-call-icon{
    width: 60px;
    text-align: center;
    margin-right: 20px;
    font-size: 22px;
}
.header-call-info{
    margin-right: 20px;
}